<div class="container col-xxl-8 px-4 py-5">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-12 col-lg-6">
			<img src="{{ asset('assets/img/img-header.png') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500">
		</div>
		<div class="col-lg-6">
			<h1 class="display-5 fw-bold lh-1 mb-3">Mon portfolio</h1>
			<p class="lead">Bienvenue sur mon portfolio, ici je présente toutes mes réalisations avec des images de présentation, 
							si vous le souhaitez cliquez sur les réalisations pour en apprendre plus, 
							vous pouvez aussi visiter les sites si vous êtes intéressé...</p>
			<div class="d-md-flex justify-content-md-start">
				<a href="{{ path('project_index') }}" class="btn btn-outline-primary btn-lg">Voir mes réalisations</a>
			</div>
		</div>
	</div>
</div>
