<div class="container">
	<h2>Mes réalisations</h2>
	<p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
		{% include "_partials/_card.html.twig" %}
	</div>
</div>
