{% for project in projects %}
	<div class="col">
		<div class="card h-100 border-light" style="background-image: url('{{ project.file }}');">
			<div class="d-flex flex-column h-100 p-5 pb-3 text-white">
				<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-shadow: 0px 0px 15px black;">{{ project.name }}</h2>
				<ul class="d-flex list-unstyled mt-auto">
					<li class="me-auto">
						<span class="badge alert-primary">Réalisé le
							{{ project.date|date('d/m/Y') }}</span>
					</li>
					<a href="{{ path('project_show', {'slug': project.slug}) }}" class="stretched-link"></a>
				</ul>
			</div>
		</div>
	</div>
{% endfor %}
