<div class="container-fluid">
	<header class="d-flex justify-content-center py-3">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a href="{{ path('home_index') }}" class="nav-link active" aria-current="page">Accueil</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('project_index') }}" class="nav-link">Réalisations</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('about_index') }}" class="nav-link">À Propos</a>
			</li>
		</ul>
	</header>
</div>
